* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c1c28;
  font-family: monospace;
}
@font-face {
  font-family: circular-std;
  src: url(assets/circular-std-medium-500.ttf);
}
.font-family {
  font-family: circular-std;
}

.text-color {
  color: #c8c7d8;
}
.fs-20 {
  font-size: 20px;
  line-height: 32px;
}
.fs-18 {
  font-size: 18px;
  line-height: 24px;
}
.btn-font-family {
  font-family: circular-std;
  background: #6966ff;
  border-radius: 7.29px;
}
.px-8 {
  padding: 0 2rem;
}
.py-8 {
  padding: 3rem 0;
}
.h1-font {
  font-family: circular-std;
  font-size: 80px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.022em;
}
.h3-f0nt {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.022em;
}

@media (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}
@media (min-width: 768px) {
  .py-md-8 {
    padding: 5rem 0 !important;
  }
  .pt-md-8 {
    padding: 5rem 0 !important;
  }
}
