* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c1c28;
  font-family: monospace;
}

.text-color {
  color: #c8c7d8;
}
/* .font-navbar {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
} */
@font-face {
  font-family: circular-std;
  src: url(assets/circular-std-medium-500.ttf);
}
.btn-font-family {
  font-family: circular-std;
  background: #6966ff;
  border-radius: 7.29px;
}
.px-8 {
  padding: 0 2rem;
}
.py-8 {
  padding: 3rem 0;
}
.h1-font {
  font-family: roboto;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 768px) {
  .py-md-8 {
    padding: 6rem 0;
  }
  .px-md-8 {
    padding: 0 8rem;
  }
}
